<header class="navbar">
<div class="nav-left">
    <button class="icon-btn">
      <i class="fa-solid fa-bars"></i>
    </button>
    <div class="logo">Q</div>
  </div>

  <div class="nav-center">
    <div class="search-container">
      <i class="fa-solid fa-magnifying-glass search-icon"></i>
      <input type="text" placeholder="Search for study guides" />
    </div>
  </div>

  <div class="nav-right">
    <button class="plus-btn">
      <i class="fa-solid fa-plus"></i>
    </button>
    
    <button class="upgrade-btn">
      Upgrade: Free 7-day trial
    </button>

    <div class="avatar">
      <img src="assets/profile-pic.png" alt="User Profile" />
    </div>
  </div>
</header>